---
import ContactUs from "src/components/ContactUs.astro";
import { css } from "../../styled-system/css";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

import MySkill from "src/components/ui/MySkill.astro";
import CardLayout from "../layouts/CardLayout.astro";

import SnsLinks from "src/components/ui/SnsLinks.astro";
import BlogMotif from "src/components/ui/BlogMotif.astro";
import Abouts from "src/components/ui/Abouts.astro";
import Career from "src/components/ui/Career.astro";
import KeyboardMotif from "src/components/ui/KeyboardMotif.astro";

const result = Astro.getActionResult(actions.formAction);

let submittedData = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    submittedData = {
      name: (formData.get("name") as string) || "",
      email: (formData.get("email") as string) || "",
      message: (formData.get("message") as string) || ""
    };
  } catch (error) {}
}

if (result && !result.error) {
  return Astro.redirect("/thanks");
}

const itemHeight = 350;
const row = 3;
const initialGridStyles = css({
  display: "grid",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "auto",
  gridTemplateAreas: `
    "c1"  
    "c8" 
    "c5" 
    "c2" 
    "c4" 
    "c7" 
    "c6" 
  `,
  md: {
    gridTemplate: `
    "c1 c1 c8 c8" 270px
    "c1 c1 c8 c8" 250px
    "c4 c4 c4 c2" 550px
    "c5 c6 c6 c6"  310px 
    "c7 c6 c6 c6"  310px / 1fr 1fr 1fr 1fr
  `,
    gap: 3
  },
  width: "full",
  height: `calc(${row} * ${itemHeight})`,
  gap: 4
});
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      padding: "4",
      display: "grid",
      gridTemplateColumns: "1fr",
      gap: "12",
      md: {
        gap: "4"
      }
    })}
  >
    <div class={initialGridStyles}>
      <CardLayout title="ABOUT" area="c1">
        <Abouts />
      </CardLayout>
      <CardLayout title="BLOG" area="c2">
        <BlogMotif />
      </CardLayout>
      <CardLayout title="CAREER" area="c8">
        <Career />
      </CardLayout>
      <CardLayout title="MY SKILLS" area="c4">
        <MySkill />
      </CardLayout>
      <CardLayout title="WORKS" href="/" area="c5">
        <KeyboardMotif />
      </CardLayout>
      <CardLayout title="CONTACT" area="c6">
        <ContactUs result={result} submittedData={submittedData} />
      </CardLayout>
      <CardLayout title="SNS" area="c7">
        <SnsLinks />
      </CardLayout>
    </div>
  </main>
</Layout>
