---
import ContactUs from "src/components/ContactUs.astro";
import { css } from "../../styled-system/css";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

import BentoItem from "../components/ui/BentoItem.astro";
import MySkill from "src/components/ui/MySkill.astro";

import SnsLinks from "src/components/ui/SnsLinks.astro";
import BlogMotif from "src/components/ui/BlogMotif.astro";
import Abouts from "src/components/ui/Abouts.astro";
import Career from "src/components/ui/Career.astro";

const result = Astro.getActionResult(actions.formAction);

let submittedData = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    submittedData = {
      name: (formData.get("name") as string) || "",
      email: (formData.get("email") as string) || "",
      message: (formData.get("message") as string) || "",
    };
  } catch (error) {}
}

console.log(submittedData);
if (result && !result.error) {
  return Astro.redirect("/thanks");
}

const itemHeight = 350;
const row = 3;
const initialGridStyles = css({
  display: "grid",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "auto",
  gridTemplateAreas: `
    "c1"  
    "c8" 
    "c5" 
    "c2" 
    "c4" 
    "c7" 
    "c6" 
  `,
  md: {
    gridTemplate: `
    "c1 c1 c8 c8" 270px
    "c1 c1 c8 c8" 320px
    "c4 c4 c2 ." 450px
    "c5 c6 c6 c6"  300px 
    "c7 c6 c6 c6"  300px / 1fr 1fr 1fr 1fr
  `,
    gap: 3,
  },
  width: "full",
  height: `calc(${row} * ${itemHeight})`,
  gap: 4,
});
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      padding: "4",
      display: "grid",
      gridTemplateColumns: "1fr",
      gap: "12",
      md: {
        gap: "4",
      },
    })}
  >
    <div class={initialGridStyles}>
      <BentoItem title="ABOUT" area="c1">
        <Abouts />
      </BentoItem>
      <BentoItem title="BLOG" area="c2">
        <BlogMotif />
      </BentoItem>
      <BentoItem title="CAREER" area="c8">
        <Career />
      </BentoItem>
      <BentoItem title="MY SKILLS" area="c4">
        <MySkill />
      </BentoItem>
      <BentoItem title="WORKS" href="/" area="c5" />
      <BentoItem title="CONTACT" area="c6">
        <ContactUs result={result} submittedData={submittedData} />
      </BentoItem>
      <BentoItem title="SNS" area="c7">
        <SnsLinks />
      </BentoItem>
    </div>
  </main>
</Layout>
