---
import ContactUs from "src/components/ContactUs.astro";
import { css, cx } from "../../styled-system/css";
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

import BentoCard from "../components/ui/BentoCard.astro";
import MySkill from "src/components/ui/MySkill.astro";

const linkItem = [
  { href: "/", label: "Work" },
  { href: "/", label: "Blog" },
  { href: "/", label: "Skill" },
];

const result = Astro.getActionResult(actions.formAction);

let submittedData = { name: "", email: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();
    submittedData = {
      name: (formData.get("name") as string) || "",
      email: (formData.get("email") as string) || "",
      message: (formData.get("message") as string) || "",
    };
  } catch (error) {}
}

if (result && !result.error) {
  return Astro.redirect("/thanks");
}

const itemHeight = 350;
const row = 3;
const initialGridStyles = {
  display: "grid",
  gridTemplate: `
    "c1 c1 c5 c3" 300px
    "c2 c4 c4 c4" 400px
    "c6 c6 c6 c6"  750px / 1fr 1fr 1fr
  `,
  width: "full",
  height: `calc(${row} * ${itemHeight})`,
  gap: 2,
};
---

<Layout>
  <main
    class={css({
      w: "full",
      h: "full",
      padding: "8",
      display: "grid",
      gridTemplateColumns: "1fr",
      gap: "8",
    })}
  >
    <div class={css(initialGridStyles)}>
      <BentoCard
        title="I'm a WEB DEVELOPER"
        desc="TRHRは、Webサイト/アプリケーション開発を得意としたフリーランスのフロントエンドエンジニアです。"
        href="/"
        className={css({
          gridArea: "c1",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          asd;fjk
        </div>
      </BentoCard>
      <BentoCard
        title="BLOG"
        desc="常にフロントエンド領域の最新技術をキャッチアップしています"
        className={css({
          gridArea: "c2",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          asd;fjk
        </div>
      </BentoCard>
      <BentoCard
        title="PHILOSOPHY"
        desc="品質とパフォーマンスに拘ります"
        className={css({
          gridArea: "c3",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          RELIABILITY
        </div>
      </BentoCard>
      <BentoCard
        title="SKILL LIBRARY"
        desc="スキル一覧のリスト"
        className={css({
          gridArea: "c4",
        })}
      >
        <MySkill />
      </BentoCard>
      <BentoCard
        title="WORKS"
        desc="これまでに作成した成果物"
        href="/"
        className={css({
          gridArea: "c5",
        })}
      >
        <div
          class={css({
            w: 28,
            h: 28,
            backgroundColor: "slate.100",
          })}
        >
          aasdf
        </div>
      </BentoCard>
      <BentoCard
        title="CONTACT"
        desc="これまでに作成した成果物"
        className={css({
          gridArea: "c6",
        })}
      >
        <ContactUs result={result} submittedData={submittedData} />
      </BentoCard>
    </div>
  </main>
</Layout>
