---
import { getCollection } from "astro:content";
import { css } from "styled-system/css";
import { Image } from "astro:assets";
import Tag from "src/components/ui/content/Tag.astro";
import WorksLayout from "src/layouts/WorksLayout.astro";
import { customImageTransition } from "src/util/customImageTransition";

const allWorks = await getCollection("works");

const worksGridStyles = css({
  display: "grid",
  gridTemplateColumns: {
    base: "1fr",
    md: "repeat(2, 1fr)",
    lg: "repeat(3, 1fr)"
  },
  gap: { base: 0.5, md: "0.5" },
  listStyle: "none",
  border: "1px solid token(colors.primaryForeground)",
  background: "primaryForeground",
  w: "full",
  h: "full"
});

const workCardStyles = css({
  display: "grid",
  w: "full",
  h: "full",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "1fr 0.7fr",
  placeContent: "center",
  placeItems: "center",
  overflow: "hidden",
  textDecoration: "none",
  boxShadow: "none",
  background: "background",
  position: "relative",
  transition:
    "box-shadow 0.3s ease, transform 0.2s ease, border-color 0.2s ease"
});

const blankCardStyles = css({
  w: "full",
  h: "full",
  background: "background",
  backgroundImage:
    "linear-gradient(to bottom right, transparent calc(50% - 1px), token(colors.primaryForeground/50) calc(50% - 1px) , token(colors.primaryForeground/50) calc(50% + 1px) , transparent calc(50% + 1px))"
});

const workImageContainerStyles = css({
  width: "full",
  h: "full",
  aspectRatio: "video",
  overflow: "hidden"
});

const workImageStyles = css({
  borderBottom: "1px solid token(colors.primaryForeground)",
  width: "full",
  height: "full",
  objectFit: "cover",
  transition: "transform 0.3s ease-out"
});

const workContentStyles = css({
  padding: "1rem",
  display: "flex",
  flexDirection: "column",
  flexGrow: "1",
  w: "full",
  h: "full"
});

const workTitleStyles = css({
  fontSize: "medium",
  fontWeight: "semibold",
  marginBottom: "0.5rem",
  transition: "color 0.2s ease-in-out",
  _hover: {}
});

const workDescriptionStyles = css({
  fontSize: "sm",
  marginBottom: "0.75rem",
  flexGrow: "1"
});

const workTagsContainerStyles = css({
  display: "flex",
  gap: "2"
});

const noWorksMessageStyles = css({
  textAlign: "center",
  color: "token(colors.gray.500)",
  padding: "2rem",
  fontSize: "lg"
});

const linkButtonStyle = css({
  textDecoration: "underline",
  transition: "color 0.2s ease",
  color: "foreground",
  w: "block",
  m: "0 auto",
  _hover: {
    color: "primary"
  }
});
---

<WorksLayout pageTitle="My Works">
  <div class={css({ display: "grid", w: "full", h: "full", gap: 8 })}>
    {
      allWorks.length === 0 ? (
        <p class={noWorksMessageStyles}>
          It looks like there are no works to display at the moment. Please
          check back soon!
        </p>
      ) : (
        <div class={worksGridStyles}>
          {allWorks.map((work) => (
            <a
              href={`/works/${work.id}`}
              class={workCardStyles}
              aria-label={`View details for ${work.data.title}`}
            >
              <div class={workImageContainerStyles}>
                <Image
                  src={work.data.image}
                  alt={`Thumbnail for ${work.data.title}`}
                  class={workImageStyles}
                  transition:name={`article-image-${work.id}`}
                  transition:animate={customImageTransition}
                />
              </div>
              <div class={workContentStyles}>
                <h2 class={workTitleStyles}>{work.data.title}</h2>
                <p class={workDescriptionStyles}>
                  {work.data.description.length > 100
                    ? work.data.description.slice(0, 97) + "..."
                    : work.data.description}
                </p>
                <div class={workTagsContainerStyles}>
                  {work.data.tags.map((tag) => (
                    <Tag tag={tag} />
                  ))}
                </div>
              </div>
            </a>
          ))}
          {(() => {
            const remainder = allWorks.length % 3;
            if (remainder !== 0) {
              const blanksToRender = 3 - remainder;
              // blanksToRender の数だけ空白カードを生成
              return Array.from({ length: blanksToRender }).map((_, index) => (
                <div class={blankCardStyles} />
              ));
            }
            return null; // 余りが0の場合は何もレンダリングしない
          })()}
        </div>
      )
    }
    <a href="/" class={linkButtonStyle}>↵ back to home</a>
  </div>
</WorksLayout>
