---
import MyImg from "../../assets/about.png";
import { Image } from "astro:assets";
import { css } from "styled-system/css";

const container = css({
  display: "grid",
  gridTemplate: `
	"image" 1fr
	"name" 0.4fr
	"desc" 0.7fr / 1fr
	`,
  md: {
    gridTemplate: `
	"image name" 240px
	"desc desc" 1fr / 240px 1fr
	`
  },
  placeContent: "center",
  placeItems: "center",
  rowGap: 4,
  columnGap: 4,
  w: "full"
});

const imageStyle = css({
  aspectRatio: "square",
  borderRadius: "3xl",
  border: "1px solid token(colors.border)",
  gridArea: "image",
  w: "full",
  h: "full"
});

const headingStyle = css({
  w: "full",
  h: "full",
  display: "grid",
  placeContent: "center",
  placeItems: "center",
  gridArea: "name",
  gap: 2,
  border: "1px solid token(colors.border)",
  borderRadius: "3xl"
});

const skills = css({
  color: "foreground",
  display: "block",
  w: "fit-content",
  backgroundClip: "text"
});

const textStyle = css({
  display: "grid",
  placeContent: "center",
  placeItems: { base: "center", "@/sm": "start" },
  gap: "2",
  gridArea: "desc",
  fontSize: { base: "medium", md: "sm" },
  wordBreak: "break-all",

  w: "full",
  h: "full",
  border: "1px solid token(colors.border)",
  borderRadius: "3xl",
  p: 5
});
---

<div class={container}>
  <Image class={imageStyle} src={MyImg} alt={"プロフィール画像"} />
  <div class={headingStyle}>
    <h3
      class={css({
        fontWeight: "bold",
        fontSize: "xl"
      })}
    >
      TRHR&nbsp;(Ari Shinoda)
    </h3>
    <span
      class={css({
        fontSize: "medium"
      })}>- Frontend Deveploper<br />- Web designer</span
    >
  </div>

  <div class={textStyle}>
    <p>
      TRHRは、フリーランスのフロントエンドエンジニアです。Webサイト・アプリの開発を中心にお仕事募集中。
      <br />最近個人開発にもチャレンジしています。
    </p>
  </div>
</div>
