---
import { css } from "styled-system/css";

interface Props {
  title: string;
  desc?: string;
  href?: string;
  className: string;
}

const { title, desc, href, className } = Astro.props;

const container = css({
  border: "1px solid",
  borderColor: "border",
  background: "secondary/40",
  borderRadius: "md",
  w: "full",
  h: "full",
  fontFamily: "depa",
  padding: 4,
  md: {
    padding: 4,
  },
  gap: 3,
  display: "grid",
  gridTemplateColumns: "1fr",
  gridTemplateRows: "min-content min-content 1fr min-content",
  alignContent: "flex-start",
});
---

<section class={`${container} ${className} item`}>
  <h2
    class={css({
      fontSize: "2xl",
      color: "primary/90",
      fontWeight: "bold",
      display: "inline-block",
      width: "fit-content",
    })}
  >
    {title}
  </h2>
  {desc && <p>{desc}</p>}
  <div
    class={css({
      w: "full",
      h: "full",
      display: "grid",
      placeContent: "center",
      placeItems: "center",
      gridTemplateColumns: "1fr",
      gridTemplateRows: "1fr",
    })}
  >
    <slot />
  </div>
  {
    href && (
      <a
        href={href}
        class={css({
          marginX: "auto",
          fontSize: "sm",
          paddingTop: 4,
          color: "foreground/90",
        })}
      >
        [READ MORE]
      </a>
    )
  }
</section>
